body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;

}

.frame {
    min-width: 360px;
    max-width: 1000px;
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
    margin: 0px auto;
}

.frame .content {
    width: 1000%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    padding: 2px;

}

@media screen and (max-width: 735px) {
    .frame .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}

@media screen and (min-width: 900px) {
    .frame .content {
        width: calc(100% - 450px);
    }
}

.frame .content .contact-profile {
    width: 100%;
    height: 60px;
    background: #4A8DB6;
    color: #f5f5f5;
}

.frame .content .contact-profile img {
    width: 40px;
    float: left;
    margin: 9px 12px 0 9px;
}

.frame .content .contact-profile p {
    float: left;
    margin-top: 7px;
}

.frame .content .contact-profile .media {
    float: right;
    line-height: 60px;
}

.frame .content .contact-profile .media i {
    margin-left: 14px;
    cursor: pointer;
}

.frame .content .contact-profile .media i:nth-last-child(1) {
    margin-right: 20px;
}

.frame .content .contact-profile .media i:hover {
    color: #435f7a;
}

.frame .content .contact-profile p span {
    font-size: 14px;
    display: block;
    text-align: left;
}

.frame .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    width: 100%;
    overflow: auto;
    background: #F2F2F2;
    background: #F2F2F2;
    border-radius: 6px;
    border-left: 1px solid #B6B6B6;
    border-right: 1px solid #B6B6B6;
}

@media screen and (max-width: 735px) {
    .frame .content .messages {
        max-height: calc(100% - 105px);
    }
}

.frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    font-size: 0.9em;
}

.frame .content .messages ul li.owns {
    float: right;

}

.frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 10px;
}

.frame .content .messages ul li.others img {
    margin: 15px 8px 0 -45px;
}

.frame .content .messages ul li.others p {
    background: #FFFFFF;
}

.frame .content .messages ul li.owns img {
    float: right;
    margin: 15px 0 0 8px;
}

.frame .content .messages ul li.owns p {

    background: #4B8EB5;
    color: #f5f5f5;
    float: right;
}

.frame .content .messages ul li img {
    width: 35px;
    float: left;
    vertical-align: baseline;
}

.frame .content .messages ul li p {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}

@media screen and (min-width: 735px) {
    .frame .content .messages ul li.other p {
        min-width: 50px;
    }

    .frame .content .messages ul li p {
        max-width: 300px;
    }
}

.frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    bottom: 10px;
}

.frame .content .message-input .wrap {
    position: relative;
}

.frame .content .message-input .wrap input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
}

@media screen and (max-width: 735px) {
    .frame .content .message-input .wrap input {
        padding: 15px 32px 16px 8px;
    }
}

.frame .content .message-input .wrap input:focus {
    outline: none;
}

.frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #5B8DB1;
    color: #f5f5f5;
}

@media screen and (max-width: 735px) {
    .frame .content .message-input .wrap button {
        padding: 16px 0;
    }
}

.frame .content .message-input .wrap button:hover {
    background: #435f7a;
}

.frame .content .message-input .wrap button:focus {
    outline: none;
}

